@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;300;400;500;600;&display=swap');


* {

  padding: 0;
  margin: 0;
  font-family: 'poppins',sans-serif;

}

.video-container {
  position: relative;
  width: 640px;
  height: 360px;
}

video {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.replay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.video-container:hover .replay {
  display: block;
}


.social-media-icons {
  position: fixed;

  bottom: 30%;
  right: 10px;

  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 150px; */
  /* padding: 8px 10px 8px 8px ; */

  border-radius: 10px;

}

.fb-color {
  
  color: #1877F2 (Blue);
}

.wts-color { 
  color: green;
}

.li-color {
  color :#FD1D1D;
}

.social-media-icons a {

  font-size: 24px;
  text-decoration: none;
}



.garuda img {
  text-align: center;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
   

}


.about {
  /* padding: 30px 0px 0px 10px; */
  height: auto;
  /* margin-top: 100px; */

}

.blogs {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.image-blogs img {
  padding-top: 100px;
  width: 520px;
  height: 400px;

}

h1 {
  text-align: center;
}





/* .cards1 {
  box-shadow: 5px 5px 10px 5px rgb(214, 215, 214);
  padding: 40px;



}

.cards img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
} */

.para {

  box-shadow: 5px 5px 10px 5px rgb(150, 153, 150);
  padding: 15px;
  font-family: popins;
}




.features {
  text-align: center;
  margin: 30px;
}

/* Default styles (for desktop and larger screens) */
.image-blogs img {
  padding-top: 60px;
  width: 520px;
  height: 400px;
}


@media (min-width:1600px) {
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 81.7%;
}
.hori {
  margin-top: 90px;
  margin-left: 64px;
  margin-bottom: -50px;
  
}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 40px;

}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

.cc-camera {

  width: 500px;
  height: 300px;
  /* margin-top: 200px; */
}

.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 90px;
  margin: 0 10px;
  right: 406px;
  position: absolute;
  width: 100%;
  /* position: fixed; */

}
.var img{
  margin-left: -40px;

}


}

@media (min-width:1400px) and (max-width:1600px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 81.7%;
}
.hori {
  margin-top: 90px;
  margin-left: 64px;
  margin-bottom: -50px;
  
}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 40px;

}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

.cc-camera {

  width: 500px;
  height: 300px;
  /* margin-top: 200px; */
}

.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 90px;
  margin: 0 10px;
  right: 406px;
  position: absolute;
  width: 100%;
  /* position: fixed; */

}
.var img{
  margin-left: -40px;

}


}



@media (min-width:1200px) and (max-width:1400px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 81.7%;
}
.hori {
  margin-top: 90px;
  margin-left: 64px;
  margin-bottom: -50px;
  
}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-top: 50px;
  margin-bottom: -20px;
  margin-left: 40px;

}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

.cc-camera {

  width: 500px;
  height: 300px;
  /* margin-top: 200px; */
}

.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 90px;
  margin: 0 10px;
  right: 406px;
  position: absolute;
  width: 100%;
  /* position: fixed; */

}
.var img{
  margin-left: -40px;

}


}
@media (min-width:992px) and (max-width:1200px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 81.4%;
}
.hori {
  margin-top: 68px;
  margin-left: 63px;
  margin-bottom: -50px;
  
}
.cc-camera {
  margin-top: 60px;
  width: 500px;
  height: 300px;
  /* margin-top: 200px; */
}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}
.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height:70px;
  margin: 0 10px;
  right: 406px;
  position: absolute;
  width: 100%;
  /* position: fixed; */

}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  /* position: absolute; */
  /* margin-top: -62px; */
  margin-bottom: -20px;
  margin-top: 50px;
  margin-left: 40px;

}

.var img{
  margin-left: -40px;

}




}


@media (min-width:768px) and (max-width:800px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 80.7%;
}
.cc-camera {
  margin-top: 60px;
  width: 500px;
  height: 300px;
  margin-top: 200px;
}

.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}
.hori {
  /* margin-top: 90px; */
  margin-left: 44px;
  
}
.var img{
  margin-left: -30px;

}


.vertical-line {
  border-right: 2px solid black;
  height: 70px;
  margin: 0 10px;
  left: 69%;
  width: 80;
  position: absolute;


}
.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 76px;
  margin: 0 10px;
  left: 500px;
  position: absolute;
  /* width: 100%; */


}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-bottom:-20px ;
  margin-left: 20px;
  /* margin-left: 44px; */
  /* position: absolute;
  margin-top: -62px; */
}



}

@media (min-width:801px) and (max-width:850px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 80.6%;
}
.cc-camera {
  margin-top: 60px;
  width: 500px;
  height: 300px;
  margin-top: 200px;
}

.hori {
  /* margin-top: 90px; */
  margin-left: 44px;

  
}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}
.var img{
  margin-left: -30px;

}


.vertical-line {
  border-right: 2px solid black;
  height: 76px;
  margin: 0 10px;
  left: 69%;
  width: 80;
  position: absolute;


}
.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 76px;
  margin: 0 10px;
  left: 530px;
  position: absolute;
  /* width: 100%; */


}
.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-bottom: -20PX;
  margin-left: 20px;
  /* position: absolute;
  margin-top: -62px; */
}


}

@media (min-width:850px) and (max-width:900px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 80.7%;
}
.cc-camera {
  margin-top: 60px;
  width: 500px;
  height: 300px;
  margin-top: 200px;
}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

.hori {
  /* margin-top: 90px; */
  margin-left: 44px;
  /* margin-bottom: 20PX; */
  
}
.var img{
  margin-left: -30px;

}


.vertical-line {
  border-right: 2px solid black;
  height: 76px;
  margin: 0 10px;
  left: 69%;
  width: 80;
  position: absolute;

}
.v2 {
  /* margin-left: 20%; */
  border-left: 2px solid black;
  height: 60px;
  margin-bottom: -20PX;
  margin-left: 20px;

  /* position: absolute;
  margin-top: -62px; */
}
.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 76px;
  margin: 0 10px;
  left: 530px;
  position: absolute;
  /* width: 100%; */


}



}
@media (min-width:900px) and (max-width:992px){
  .horizontal-line {
  border-top: 2px solid rgb(0, 0, 0);
  width: 80.7%;
}
.cc-camera {
  margin-top: 60px;
  width: 500px;
  height: 300px;
  margin-top: 200px;
}
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top:50px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

.var img{
  margin-left: -40px;

}

.hori {
  /* margin-top: 90px; */
  margin-left: 44px; 

  
}

.slider-container {
      width: 80%;
      overflow: hidden;
      position: relative;
    }

    .slider-track {
      display: flex;
      gap: 10px;
      animation: slide 9s linear infinite;
    }

    .slide {
      flex: 0 0 33.33%;
      background-color: #ddd;
      border: 2px solid #ccc;
      border-radius: 5px;
      text-align: center;
      padding: 20px;
      font-size: 24px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Keyframes for animation */
    @keyframes slide {
      0% { transform: translateX(0); }
      33% { transform: translateX(-33.33%); }
      66% { transform: translateX(-66.66%); }
      100% { transform: translateX(0); }
    }

.v2 {
  border-left: 2px solid black;
  height: 60px;
  margin-bottom: -20PX;
  margin-left: 20px;

  /* position: absolute; */
  /* margin-top: -62px; */
}

.vertical-line {
  border-right: 2px solid black;
  height: 70px;
  margin: 0 10px;
  left: 69%;
  width: 80;
  position: absolute;


}
.v7 {
  border-right: 2px solid black;
  /* text-align: center; */
  height: 76px;
  margin: 0 10px;
  left: 530px;
  position: absolute;
  /* width: 100%; */


}
.var img {
  margin-right: -50%;


}
}


    

  
  .cc-camera {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    bottom: 20px;
  }
  .need_top_space{
    text-align: center;

  }

  .v7 {
    border-right: 2px solid black;
    
    margin: 0 10px;
    right: 400px;
    position: absolute;

  
  
  }
  .var img{
    margin-left: -20px;
    margin-top: 20px;
  
  }
  

 @media  (max-width:767px){
  
 .horizontal-line{
border: 2px solid black;
margin-top:-83px;
width: 30%;
display: block;

}
.clients{
  margin-top: 100px;
}
.hori{
  margin-left:8px;
} 
.intro1{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  /* margin-top:100px */
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}

 .var img {
  width: 135px;
  height: auto;
  margin-top: 100px;
  margin-left: 40%;
} 


.v7 {
  border-right: 2px solid black;
  height: 1235px;
  margin: 0 10px;
  right: 80%;
  position: absolute;
  width: 100%;
}
  
.horizontal-line{
  overflow: hidden;
}
 }
 
  
@media (min-width:375px) and (max-width:400px) {
  
    horizontal-line{
      border: 2px solid black;
      margin-top:-83px;
      width: 33%;
      
    } 
    .hori{ 
      margin-left:17px;
    }
    .v7 {
      border-right: 2px solid black;
      height: 1235px;
      margin: 0 10px;
      right: 80%;
      position: absolute;
      width: 100%;
    }
    
    
    
    
     .var img {
      width: 235px;
      height: auto;
      margin-top: 100px;
      margin-left: 40%;
 
    } 
    .intro1{
      text-align: center;
      /* color: dark navy blue; */
      color: #444444;
      /* color: red; */
      margin-top:100px;
      font-family:'poppins','Segoe UI';
      font-weight: 700;
    }
    
    
    
  }

  @media(min-width:401px) and (max-width:420px){
    horizontal-line{
      border: 2px solid black;
      margin-top:-83px;
      width: 34%;
      
      }
      .hori{
        margin-left:23px;
      }
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      
       .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
    
    }

  @media(min-width:421px) and (max-width:440px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-83px;
      /* width: 3%; */
      
      }
      .hori{
        margin-left:34px;
      }
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }
  
  @media(min-width:441px) and (max-width:460px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-83px;
      width: 30%;
      
      }
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
      .hori{
        margin-left:34px;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }
  @media(min-width:461px) and (max-width:480px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-83px;
      width: 25%;
      
      }
      .hori{
        margin-left:34px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }

  @media(min-width:481px) and (max-width:500px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 30%;
      
      }
      .hori{
        margin-left:38px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }
  @media(min-width:501px) and (max-width:520px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 28%;
      
      }
      .hori{
        margin-left:40px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }


  @media(min-width:521px) and (max-width:540px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 20%;
      
      }
      .hori{
        margin-left:44px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }

  @media(min-width:541px) and (max-width:560px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 30%;
      
      }
      .hori{
        margin-left:50px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }

  @media(min-width:561px) and (max-width:575px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 29%;
      
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      .hori{
        margin-left:54px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }

  @media(min-width:576px) and (max-width:600px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 34%;
      
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      .hori{
        margin-left:35px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }
  @media(min-width:601px) and (max-width:620px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 35%;
      
      }
      .hori{
        margin-left:30px;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }

   
  }
      

  @media(min-width:621px) and (max-width:640px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 35%;
      
      }
      .hori{
        margin-left:20px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }
  @media(min-width:641px) and (max-width:660px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width:35%;
      overflow: hidden;
      
      }
      .hori{
        margin-left:14px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
          
  }
  @media(min-width:661px) and (max-width:680px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 39%;
      
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      .hori{
        margin-left:8px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }
  @media(min-width:681px) and (max-width:700px){

    horizontal-line{
      border: 2px solid black;
      margin-top:-33px;
      width: 39%;
      
      }
      .hori{
        margin-left:4px;
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
  }
  @media(min-width:701px) and (max-width:720px){

    horizontal-line{
      /* border: 2px solid black; */
      margin-top:-33px;
      width: 39%;
      
      }
      .hori{
        margin-left:-3px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }
  @media(min-width:721px) and (max-width:740px){

    horizontal-line{
      /* border: 2px solid black; */
      margin-top:-33px;
      width: 39%;
      
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }

      .hori{
        margin-left:-10px;
      }
      .var img {
        width: 135px;
        height: auto;
        margin-top: 100px;
        margin-left: 40%;
      } 
      
      
      .v7 {
        border-right: 2px solid black;
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }
        
      .horizontal-line{
        overflow: hidden;
      }
  }
  @media(min-width:741px) and (max-width:766px){

    horizontal-line{
      /* border: 2px solid black; */
      margin-top:-33px;
      width: 39%;
      
      }
      .intro1{
        text-align: center;
        /* color: dark navy blue; */
        color: #444444;
        /* color: red; */
        margin-top:100px;
        font-family:'poppins','Segoe UI';
        font-weight: 700;
      }
      
      .v7 {
        /* border-right: 2px solid black; */
        height: 1235px;
        margin: 0 10px;
        right: 80%;
        position: absolute;
        width: 100%;
      }

   
      .hori{
        margin-left:-10px;
      }   
  }
.vertical-line {
  width: 2px;
  height: 60px;
  background-color: black;
}

/* Center the line in the container */
.centered {
  margin: 0 auto;
  /* height: 100px; */
  /* .margin-top:-180px; */

}

/* Move line using positioning */
.moved {
  position: relative;
  left: 50%;
  top: 20px;
}




/* .veri {
  margin-left: 50px;
} */
/* 
.v1 {
  border-right: 2px solid black;
  height: 60px;
  left: 20%;
  position: absolute;
  margin: 0 10px;
  right: 19%;
} */



.v3 {
  border-left: 2px solid black;
  margin: 0 10px;
  left: 580px;
  height: 60px;
  position: absolute;
}

.v4 {
  border-right: 2px solid black;
  margin: 0 10px;
  position: absolute;
  right: 30%;
  height: 60px;
}

.v5 {
  border-left: 2px solid black;
  margin: 0 10px;
  height: 60px;
  left: 420px;
  position: absolute;
}

.v6 {
  border-right: 2px solid black;
  margin: 0 10px;
  position: absolute;
  right: 43%;
  height: 60px;
}

.var img {
  width: 135px;
  height: auto;
}

.var {
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
}

.rows img {
  width: 400px;
  height: 400px;
}








.footer img{
  width: 100px;
}


.valuable img{
  width: 30px;

}



.custom-slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}









 .
/* srinivas */
.poetsen_font11 {
  color: #141b2a;
  font-family: "Poppins";
  /* font-size: 32px; */
  font-style: normal;
  font-weight: 800;
  /* line-height: 152%; */
  text-transform:capitalize;
  font-weight: 700;
  
 
}

.dr_welcome_text1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
  line-height: 47px;
}
 

.poetsen_font1 {
  color: #141b2a;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}
/* .showthisdiv{
  margin-top: -12px;
} */

.get_in_touch {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  font-weight: 900;
  line-height: 22.02px;
  letter-spacing: 0.03em;
  text-align: right;
  color: #a256b0;
}




/* devardh */
.doc_para_text_mini_service {
  color: #7A7A7A;
  font-family: Poppins;
  font-size: 19.288px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  letter-spacing: 0.289px;
  text-wrap: wrap;
  /* padding-right: 150px; */

}


.poetsen_font1 {
  color: #7A7A7A;
  font-family: Poppins;
  font-size: 19.288px;
  font-style: normal;
  font-weight: 500;
  
  letter-spacing: 0.289px;
  

}



/* .employee-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: left;
} */

.intro{
  text-align: center;
  /* color: dark navy blue; */
  color: #444444;
  /* color: red; */
  margin-top: 30px;
  font-family:'poppins','Segoe UI';
  font-weight: 700;
}


strong{
  color: #444444;

}


.social-icons {
  z-index: 999;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  /* background-color: #474444; */
  background-color: #b4b3b9;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-icons a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.social-icons a img {
  width: 25px;
}

/* .social-icons a:hover {
  color: #007bff;
} */

/* .get_in_touch1{ 

margin-top: -26px; 
margin-left: 120px;
} */

/* .get_in_touch2{ */
  /* margin-top: -45px;  */
/* margin-left: 300px; */

/* }
.get_in_touch3{
  margin-top: -25px; 
margin-left: 50px;
text-wrap: wrap;
} 


.get_in_touch4{
  margin-top: -25px; 
margin-left: 200px;
text-wrap: wrap;
text-wrap: wrap;

}
.get_in_touch5{
  margin-top: -45px; 
margin-left: 100px;


} */
/* .readmore{
  width: 100%;
} */
 .sp1{
  color:  black;
 }




 .readmore {
  font-family: Arial, sans-serif;
  max-width: 600px; /* Adjust to fit your layout */
  margin: 10px auto;
}

.doc_para_text_mini_service {
  line-height: 1.6;
  margin: 0;
  color: #333;
}

/* 
.get_in_touch3 {
  color: #474FA0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.get_in_touch3:hover {
  text-decoration: underline;
} */







.whatsapp-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  /* padding: 5px; */
  border-radius: 50%;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
}

.clients{
  margin-top: 30px;
}

.last_text{
  margin-top: -10px;
}

.mini_text{
  margin-top: -20px;
}


.brand_image{
  width: 50px;
  height: 50px;
  /* margin-bottom: 20px; */
}